body{
    padding: 0;
    margin: 0;
}


.bg1,.bg2{
    width: 100%;
}

.sec1,.sec2,.sec3,.sec5{
    position: relative;
}
.sec2{
    height: 1.8cm;
}

.nav,.nav3{
    position: absolute;
    top: 0;
    display: block;
    align-items: center;
    
    left: 20%;

    
}

.nav2,.nav4{
    position: absolute;
    top:20px;
    right: 20%;
}
.nav img,.nav3 img{
    width: 75px;

}
a{
    margin-right: 30px;
    color: white;
    text-decoration: underline;
    font-style: italic;
    font-family: "poppins";
    font-weight: bold;
    font-size: 0.7rem;
}

.nav3{
    display: flex;
    align-items: center;
    
}
.nav3 h1{
    margin: 0;
    padding: 0;
    font-family: "poppins";
}

.black{
    color: #4d4d4d;
    
    
    
    

}
.violet{
    color: #414f6b;
    font-size: 25px;
   
    
    
    
    
    
}

.nav4 a{
    color: #414f6b;
}

.content{
    position: absolute;
    bottom: 400px;
    left: 23%;
    right: 23%;
}

.num1{
    position: absolute;
    color: #627391;
    font-family: "poppins";
    font-size: 10rem;
    bottom: 300px;
}

.word1{
    position: absolute;
    bottom: 400px;
    color: #586682;
    font-family: "poppins";
    font-size: 3rem;
    left: 158px;

}
.para1{
    position: absolute;
    font-family: "poppins";
    bottom: 280px ;
    padding: 0px 0px 80px 90px;
}

.dot{
    position: absolute;
    bottom: 62px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    background-color: #627391;   

}

.sec4{
    margin-right:  820px;
    align-items: center;
    
    display: flex;

    
    height: 4cm;
    
}



.content2{
    display: flex;
    align-items: center;
    
    

}
.num2{
    font-size: 160px;
    color: #b0b4be;;
    
    
    margin: auto;
    
    
    
}

.dot2{
    width: 30px;
    height: 30px;
    background-color: #b0b4be;
    
    position: absolute;
    margin-top: 115px;
    margin-left: 5px;

}

.word2{
    margin: auto;
    margin-left: 620px;
    font-size: 40px;
    color: #414f6b;
    font-family: "poppins";
    position: absolute;
    

}
.para2{
position: absolute;
margin-right: 60px;
padding: 10px;
right: 290px;

}



.list{
    display: flex;
    position: absolute;
    width: 100%;
    display: block;
    align-items: center;
    height: 1cm;
    display: inline;
    background-color: #414f6b; 
   
   
}

.item1{
    color: #414f6b ;
    font-style: normal;
    font-size: 1rem;
    border: none;
    height: 1cm;
    cursor: pointer;
    font-weight: bold;
    background-color: #b0b4be;
    text-decoration: underline;
    
        


}

.item2{
    color: #b0b4be;
    font-style: normal;
    font-weight: bold;
    height: 1cm;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background-color: #414f6b;
    text-decoration: underline;

}
.sec5{
    margin-top: 10px;
}


.items{
    list-style-type: none;
    display: flex;
    margin-left: 380px;
    margin-top: 0px;
    display: inline-flex;
    align-items: center;
    
    
}
#bannerImage{
    width: 100%;
    
}

.sec6{
    margin-top: 48px;
    position: relative;
}



.schedule1{
   
    width: 8cm;
    height: 5cm;
   position: absolute;
    background-color: white;
    top: 200px;
    opacity: 60%;
    left: 420px;
     
}

.sec7{
    width: 100%;
    position: absolute;
    
    
    
    
} 

.dec,.nov{
    padding-top: 20px;
}

.schedule2{
    width: 8cm;
    height: 5cm;
   position: absolute;
    background-color: white;
    top: 200px;
    opacity: 60%;
    left: 420px;
}

.img2{
    width: 75px;

}

.footer{
    display: flex;
    height: 2.5cm;
    position: relative;
    background-color: #414f6b;
     
    justify-content: space-around;
    align-items: center;
    flex: 1;
    

}
.overlay{
    height: 2.5cm;
    background-color: #414f6b;
    position: absolute;
}


.footer h1{
    margin: auto;
}

.foot{
    display: flex;
}

.copy{
    font-style: italic;
    color: #63769d;
    font-family: 'poppins';
}
















